.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.dropdown-menu {
    z-index: 1060 !important; 
  }
.offcanvas {
    height: auto !important;
    max-height: none;
}

.offcanvas-top {
    height: 30% !important;
    max-height: none;
}
body.offcanvas-backdrop {
    overflow-y: auto;
}
.offcanvas {
    overflow: visible !important;
}